@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.fash {
    color: blue;
}

.air {
    color: red;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Open Sans', sans-serif;
}

/* Add your custom styles here */
@media (min-width: 1000px) {


    header {
        background-color: #f9f9f9;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: inline-block;
    }

    .logo img {
        height: 50px;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    nav ul li {
        margin-left: 20px;
    }

    main {
        padding: 20px;
    }

    .hero {
        text-align: center;
        padding: 50px 0;
    }

    .hero h1 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .hero p {
        font-size: 18px;
        color: #777;
        margin-bottom: 30px;
    }

    .cta-button {
        display: inline-block;
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 10px;
        font-weight: bold;
        width: 180px;
    }

    .features {
        display: flex;
        justify-content: center;
        /* margin-top: 40px; */
    }

    .feature {
        text-align: center;
        margin: 0 20px;
    }

    .feature img {
        height: 350px;
        /* width: 260px; */
        /* margin-bottom: 20px; */
    }

    .feature h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .feature p {
        font-size: 16px;
        color: #777;
    }

    footer {
        /* position: fixed;
        bottom: 0; */
        background-color: #f9f9f9;
        padding: 20px;
        text-align: center;
        color: #777;
        font-size: 14px;
    }

    .social-media-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f9f9f9;
        padding: 10px;
    }

    .social-media-row h3 {
        margin: 0;
    }

    .social-media-row a {
        color: #555;
        margin-left: 10px;
        text-decoration: none;
    }

    .social-media-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .left-section {
        flex-grow: 1;
        text-align: left;
    }

    .right-section {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .right-section a {
        margin-left: 35px;
    }

    .social-logo {
        height: 35px;
        /* Adjust the height as desired */
    }


    .slider-container {
        position: relative;
        width: 100%;
        overflow: hidden;
        margin-top: -25px;
      }
      
      .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
        flex-wrap: nowrap;
        width: calc(100% * 3);
      }
      
      .slider img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      
      .prev-btn,
      .next-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100px;
        height: 100px;
        font-size: 60px;
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;
      }
      
      .prev-btn {
        left: 10px;
      }
      
      .next-btn {
        right: 10px;
      }

      .photo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }

      .photo-container img {
        align-items: center;
        width: auto;
        height: 550px;
        /* margin-bottom: 10px; */
        opacity: 0.97;
        object-fit: contain;
    }

    .icon-overlay img {
        position: absolute;
        height: 235px;
        opacity: 1;
      }
      
      .icon-overlay-1 {
        top: 100px;
        left: 400px;
      }
      .icon-overlay-2 {
        top: 160px;
        left: 410px;
      }
      .icon-overlay-3 {
        top: 320px;
        left: 420px;
      }
      .icon-overlay-4 {
        top: 412px;
        left: 420px;
      }
      .icon-overlay-5 {
        top: 60px;
        right: 380px;
      }
      .icon-overlay-6 {
        top: 100px;
        right: 350px;
      }
      .icon-overlay-7 {
        top: 300px;
        right: 350px;
      }
      .icon-overlay-8 {
        top: 390px;
        right: 360px;
      }


      .social-media-icons {
        position: fixed;
        /* bottom: 30px; */
        top: 70px;
        right: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .social-icon {
        margin-bottom: 25px;
    }
    
    .social-icon img {
        /* width: 100px; */
        height: 40px;
    }

}













/* Add your custom styles here */
@media (max-width: 999px) {



    header {
        text-align: center;

        background-color: #f9f9f9;
        padding: 10px;
        /* display: flex;
        justify-content: space-between;
        align-items: center; */
    }

    .logo {
        margin: auto;

        /* display: flex;
        justify-content: center;
        align-items: center; */
      }

    .logo img {
        height: 90px;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    nav ul li {
        margin-left: 20px;
    }

    main {
        padding: 20px;
    }

    .hero {
        padding: 50px 0;
    }

    .hero h1 {
        margin-top: -7px;
        font-size: 50px;
        margin-bottom: 40px;
        text-align: center;
    }

    .hero p {
        font-size: 18px;
        color: #777;
        margin-bottom: 30px;
    }

    .cta-button {
        /* display: inline-block; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        flex-basis: 100%;
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 20px;
        font-weight: bold;
        font-size: 50px;
        height: 90px;
        margin-top: 80px;
        margin-bottom: 30px;
        margin-left: 130px;
        margin-right: 130px;
    }

    .features {
        display: flex;
        justify-content: center;
        /* margin-top: 40px; */
        flex-wrap: wrap;
    }

    .feature {
        /* text-align: center;
        margin: 0 20px;
        text-align: center; */
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;
    }

    .feature img {
        height: 700px;
        /* width: 260px; */
        /* margin-bottom: 10px; */
    }

    .feature h2 {
        font-size: 32px;
        margin-bottom: -7px;
    }

    .feature p {
        font-size: 24px;
        color: #777;
        margin-bottom: 45px;
    }

    footer {
        background-color: #f9f9f9;
        padding: 20px;
        text-align: center;
        color: #777;
        font-size: 14px;
    }

    .social-media-row {
        flex-direction: column;

        background-color: #f9f9f9;
        /* display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px; */
        padding-bottom: 25px;
        margin-bottom: 30px;
    }

    .social-media-row h3 {
        margin: 0;
    }

    .social-media-row a {
        color: #555;
        margin-left: 10px;
        text-decoration: none;
    }

    .social-media-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .left-section {
        width: 100%;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
        
        flex-grow: 1;
        /* text-align: left; */

    }

    .right-section {
        width: 100%;
        text-align: center;
        justify-content: center;

        /* display: flex;
        justify-content: flex-end;
        align-items: center; */
    }

    .right-section a {
        margin-left: 35px;
    }

    .social-logo {
        height: 65px;
        padding: 12px;
        /* Adjust the height as desired */
    }



    .slider-container {
        position: relative;
        width: 100%;
        overflow: hidden;
        margin-top: -20px;
      }
      
      .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
        /* width: 100%;
        box-sizing: border-box; */
      }
      
      .slider img {
        width: 100%;
        height: auto;
        margin-right: 8px;
      }
      
      .prev-btn,
      .next-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100px;
        height: 100px;
        font-size: 60px;
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;
      }
      
      .prev-btn {
        left: 10px;
      }
      
      .next-btn {
        right: 10px;
      }



      .photo-container {
        position: relative;
        display: inline-block;
      }

      .photo-container img {
        max-width: 100%;
        height: auto;
        /* margin-bottom: 10px; */
        opacity: 0.97;
    }

    .icon-overlay img {
        position: absolute;
        height: 380px;
        opacity: 1;
      }
      
      .icon-overlay-1 {
        top: 15px;
        left: 50px;
      }
      .icon-overlay-2 {
        top: 110px;
        left: 40px;
      }
      .icon-overlay-3 {
        top: 280px;
        left: 30px;
      }
      .icon-overlay-4 {
        top: 420px;
        left: 20px;
      }
      .icon-overlay-5 {
        top: 10px;
        right: -20px;
      }
      .icon-overlay-6 {
        top: 60px;
        right: 0px;
      }
      .icon-overlay-7 {
        top: 230px;
        right: 0px;
      }
      .icon-overlay-8 {
        top: 380px;
        right: 0px;
      }




    .social-media-icons {
        position: fixed;
        bottom: 30px;
        right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .social-icon {
        margin-bottom: 25px;
    }
    
    .social-icon img {
        /* width: 100px; */
        height: 85px;
    }

}